<!DOCTYPE html>
<html lang="en">

<head>
  <title>ShopLight</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- Bootstrap CSS -->
  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous"/>

  <!-- Pre-installed CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/index.css" />
  <link rel="stylesheet" href="/styles/footer.css" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/product-filter.js"></script>
  <script defer src="/scripts/carousel.js"></script>
  <script src="https://kit.fontawesome.com/0b658c0bbb.js" crossorigin="anonymous"></script>
</head>

<body>
  <%- include('partials/_header') %>

  <section class="index-splash">
    <div class="index-splash-title">ShopLight</div>
  </section>

  <section class="index-featured">
    <h1>Featured</h1>

    <div class="featured-products">
      <div class="featured-product-listings-container">
        <% for (let featured of listings) { %>
          <% if (featured.is_featured === true) { %>
            <div class="product-container">
              <div class="product-image" style="background-image:url('<%= featured.photo_url %>')"></div>
              <div class="product-box">
                <div class="product-name"><%= featured.name %></div>
                <div class="product-price"><%= featured.price %></div>
                <div class="product-description"><%= featured.description %></div>
                <div class="product-icons">
                  <div class="in-stock"><i class="fa-solid fa-circle-check"></i></div>
                  <div class="message-seller">
                    <button class="open-button" onclick="toggleForm()">
                      <i class="fa-regular fa-envelope"></i>
                      <i class="fa-solid fa-envelope"></i>
                    </button>
                    <div class="form-popup" id="myForm">
                      <form action="/action_page.php" class="form-container">  <!-- Change form action to post new message to database -->
                        <label for="message-to-seller">Send message to <%= featured.user_id %></label> <!-- Need to change this to join users table and fetch seller name -->
                        <input type="text" placeholder="Say hello!" name="message-to-seller" required>

                        <button type="submit" class="button-flash">Send</button>
                      </form>
                    </div>
                  </div>
                  <div class="add-favorite">
                    <form action="/add-to-favorites" method="post">
                      <button type="submit">
                        <i class="fa-regular fa-heart"></i>
                        <i class="fa-solid fa-heart"></i>
                      </button>
                    </div>
                </div>
              </div>
            </div>
          <% } %>
        <% } %>
      </div>
    </div>
  </section>

  <section class="index-listings">
    <section class="index-listings-top">
      <div class="index-listings-top-title">
        <h1>All products</h1>
      </div>

      <div class="index-listings-top-filter">
        Sort by:
        <select id="sort-dropdown">
          <option value="low-to-high">Price: Low to High</option>
          <option value="high-to-low">Price: High to Low</option>
        </select>
      </div>

    </section>

    <div class="product-listings-container">
      <% for (let listing of listings) { %>
      <div class="product-container">
        <div class="product-image" style="background-image:url('<%= listing.photo_url %>')"></div>
        <div class="product-box">
          <div class="product-name"><%= listing.name %></div>
          <div class="product-price"><%= listing.price %></div>
          <div class="product-description"><%= listing.description %></div>
          <div class="product-icons">
            <div class="in-stock"><i class="fa-solid fa-circle-check"></i></div>
            <div class="message-seller">
              <a href="/messages">
                <i class="fa-regular fa-envelope"></i>
                <i class="fa-solid fa-envelope"></i>
              </a>
            </div>
            <div class="add-favorite">
              <form action="/add-to-favorites" method="post">
                <button type="submit">
                  <i class="fa-regular fa-heart"></i>
                  <i class="fa-solid fa-heart"></i>
                </button>
              </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>

  </section>

  <%- include('partials/_footer.ejs') %>

</body>

</html>
