<!DOCTYPE html>
<html lang="en">

<head>
  <title>Search for products</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- Bootstrap CSS -->
  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous"/>

  <!-- Pre-installed CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/index.css" />
  <link rel="stylesheet" href="/styles/footer.css" />
  <link rel="stylesheet" href="/styles/search.css" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/scripts/app.js"></script>
  <script src="https://kit.fontawesome.com/0b658c0bbb.js" crossorigin="anonymous"></script>
</head>

<body>
  <%- include('partials/_header') %>

  <main>
    <section class="search-section">
      <h1>Search our listings:</h1>
      <!-- Form for searching -->
      <form method="post" action="/search" class="search-form">
        <label for="name_or_description">Keyword:</label>
        <input name="name_or_description" id="name_or_description" style="overflow:hidden" placeholder="e.g. shoes, camera"></input>
        <br>
        <label for="minimum_price">Minimum Price ($):</label>
        <input name="minimum_price" id="minimum_price" type="number" style="overflow:hidden"></input>
        <label for="maximum_price">Maximum Price ($):</label>
        <input name="maximum_price" id="maximum_price" type="number" style="overflow:hidden"></input>
        <br>
        <button type="submit" class="submit-listing">Search</button>
      </form>
    </section>
    <br>
    <!-- Search results here -->
    <section class="listings">
      <h1>Search results:</h1> 
      <div class="product-listings-container">
      <% for (const listing of listings) { %>
        <div class="product-container">
          <div class="product-image" style="background-image:url(https://placehold.co/350x350)"><img src=<%= listing.photo_url %> class="product-image"></div>
          <div class="product-box">
            <div class="product-name"><%=listing.name%></div>
            <div class="product-price">$ <%=listing.price%></div>
            <div class="product-description"><%=listing.description%></div>
            <div class="product-icons">
              <div class="in-stock"><i class="fa-solid fa-circle-check"></i></div>
              <div class="message-seller">
                <a href="/messages">
                  <i class="fa-regular fa-envelope"></i>
                  <i class="fa-solid fa-envelope"></i>
                </a>
              </div>
              <div class="add-favorite">
                <form action="/add-to-favorites" method="post">
                  <button type="submit">
                    <i class="fa-regular fa-heart"></i>
                    <i class="fa-solid fa-heart"></i>
                  </button>
                </div>
            </div>
          </div>
        </div>
        <!-- <div class="listing">
          <%=listing.name%> 
          <%=listing.description%>
          <img src=<%= listing.photo_url %> class="listing-image">
        </div> -->
      <% } %>
      </div>
    </section>
  </main>

  <%- include('partials/_footer.ejs') %>

</body>
</html>
